<div class="login-page">
  <div class="form">
    <form class="register-form" [formGroup]="Login" (ngSubmit)="onSubmit()">
      <input type="text" formControlName="email" placeholder="email"/>
      <input type="password" formControlName="password" placeholder="password"/>
      <button type="submit" [routerLink]="['/routePath']" routerLinkActive="router-link-active" >Login</button>
      <!-- <p class="message">Already registered? <a href="#">Sign In</a></p> -->
    </form>
    <!-- <form class="login-form">????
      <input type="text" placeholder="username"/>
      <input type="password" placeholder="password"/>
      <button >login</button>
      <p class="message">Not registered? <a href="#">Create an account</a></p>
    </form> -->
  </div>
</div>
